{% extends 'bases/base.html' %}

{% block main %}
<section class="fdb-block" style="background-image: url(imgs/hero/red.svg);">
    <div class="container">
            <div class="row pb-3">
                <div class="col text-center">
                <h1> Categories</h1>
                </div>
            </div>
            <div class="row pt-5 justify-content-center align-items-center">
                <div v-for="cat in categorys" class="col-3">
                <a v-bind:href='"http://127.0.0.1:8000/category/" + cat.id'>
                    <img alt="image" class="img-fluid" v-bind:src="cat.image" style=" height: 200px;">
                </a>
                <h2>${ cat.titre }</h2>
                </div>  
            </div>
    </div>
<div class="container">
    <div class="row text-center">
    <div class="col">
        <h1 class="text-white">MODULES</h1>
    </div>
    </div>
    <h1>    Modules</h1>
    <div class="row mt-5 align-items-center">
            <div v-for="(mod, index ) in modules" v-if="index<3" v-if="index!=1" class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center">
                <div class="fdb-box p-4">
                    <img v-bind:src="mod.image" style=" height: 200px;">
                <h2>${ mod.titre }</h2>
        
                <p class="h1 mt-5 mb-5">jetons: ${ mod.jeton }</p>
        
                <p><a href="https://www.froala.com" class="btn btn-dark">Commencer</a></p>
                </div>
            </div>
            <div v-else class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center pt-4 pt-lg-0">
                <div class="fdb-box px-4 pt-5">
                    <img v-bind:src="mod.image" style=" height: 200px;">
                <h2>${ mod.titre }</h2>
        
                <p class="h1 mt-5 mb-5">jetons: ${ mod.jeton }</p>
        
                <p><a href="https://www.froala.com" class="btn btn-secondary">Commencer</a></p>
                </div>
            </div>
        </div>
</div>
</section>
{% endblock %}


{% block vue %}
<script>
var app = new Vue({
    el: '#app',
    data: {
        loader: true,
        content:false,
        modules: [],
        categorys:[],
        id_list: [],
    },
    delimiters: ["${","}"],
    mounted(){
        this.get_modules()
    },
    methods: {
        get_modules: function(){
            var now = new Date();
            axios.get('http://127.0.0.1:8000/Module/')
                .then(response => {
                    this.modules = response.data
                    this.get_categorys()
                })
                .catch((err) => {
                    console.log(err);
                })
        },
        get_categorys: function(){
            var now = new Date();
            axios.get('http://127.0.0.1:8000/Categorie/')
                .then(response => {
                    this.categorys = response.data
                })
                .catch((err) => {
                    console.log(err);
                })
        },
    }
})
</script>
{% endblock vue %}
    