{% extends 'bases/base.html' %}

{% block main %}


    <section class="fdb-block" style="background-image: url(https://cdn.pixabay.com/photo/2016/03/09/15/29/workplace-1246677__480.jpg); height:100vh;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
                <div class="fdb-box">
                    <div class="row">
                    <div class="col">
                        <h1>Log In</h1>
                    </div>
                    </div>
                    <div class="row mt-4">
                    <div class="col">
                        <input name="email" v-model="form.username" type="text" class="form-control" placeholder="Email">
                    </div>
                    </div>
                    <div class="row mt-4">
                    <div class="col">
                        <input type="password" v-model="form.pass" name="pass" class="form-control mb-1" placeholder="Password">
                        <p class="text-right"><a href="https://www.froala.com">Recover Password</a></p>
                    </div>
                    </div>
                    <div class="row mt-4">
                    <div class="col">
                        <button class="btn btn-outline-secondary" v-on:click='onSubmit' type="submit">Submit</button>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block vue %}
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            loader: true,
            content:false,
            modules : [],
            form : {
                username : "",
                pass : "",
            }
        },
        delimiters: ["${","}"],
        mounted(){
        },
        methods: {
                onSubmit(){

                    axios.defaults.xsrfCookieName = 'csrftoken'
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
        
                    const path = `http://127.0.0.1:8000/loginUser`
                        
                    axios.post(path, this.form)
                    .then(response => { 
                        console.log(response.data) 
                    })
                    .catch(error => {
                        console.log(error.response)
                    });
                },
        }
    })
    </script>
    {% endblock vue %}

