{% extends 'bases/base.html' %}
{% block main %}
<section class="fdb-block">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-left">
        <h1> NOS EXERCICES </h1>
        </div>
    </div>
      
    <div class="row text-left mt-5">
        {% for item in exercice %}
        <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto mr-md-auto ml-md-0">
        <!-- Card -->
            <div class="card">

                    <!-- Card image -->
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/05/08/08/44/artificial-intelligence-3382507__340.jpg" alt="Card image cap">
                    
                    <!-- Card content -->
                    <div class="card-body">
                    
                    <!-- Title -->
                    <h4 class="card-title"><a href="{{ item.id }}"> {{ item.titre }} </a></h4>
                    <!-- Text -->
                    <p class="card-text"> {{ item.description|safe|truncatechars_html:150 }} </p>
                    <!-- Button -->
                    <a href="{% url 'editor' item.id %}" class="btn btn-primary">Commencer</a>
                    
                    </div>
                    
                </div>
                <!-- Card -->
        </div>
        {% endfor %}
      
        
    </div>
    </div>
</section>
{% endblock main %}