{% extends 'bases/base.html' %}

{% block main %}

    <section class="fdb-block" style="background-image: url(https://cdn.pixabay.com/photo/2017/07/31/11/44/laptop-2557572__480.jpg); height:100vh;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="fdb-box form">
                    <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="row">
                        <div class="col text-center">
                        <h1>Register</h1>
                        <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. </p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col mt-4">
                        <input type="text" name= "name" class="form-control" placeholder="Full name...">
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                        <input type="email" name= "email" class="form-control" placeholder="Email">
                        </div>
                    </div>

                    <div class="row align-items-center mt-4">
                            <div class="col">
                                <label for="pour">Modules</label>
                            <select name="module" id="pour" class="js-example-basic-single" class="form-control">
                                <option value=""></option>
                                <option value="">Python zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</option>
                                <option value="">Flutter</option>
                                <option value="">Font-end</option>
                            </select>
                            </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                        <input type="password" name="pass" class="form-control" placeholder="Password">
                        </div>
                        <div class="col">
                        <input type="password" name="re_pass" class="form-control" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="row justify-content-start mt-4">
                        <div class="col">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                I Read and Accept <a href="https://www.froala.com">Terms and Conditions</a>
                            </label>
                        </div>
            
                        <button class="btn btn-primary mt-4" type="submit">Submit</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block vue %}
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            loader: true,
            content:false,
            modules: [],
            categorys:[],
            id_list: [],
        },
        delimiters: ["${","}"],
        mounted(){
            this.get_menu()
        },
        methods: {
            get_modules: function(){
                var now = new Date();
                axios.get('http://127.0.0.1:8000/Module/')
                    .then(response => {
                        this.modules = response.data
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            get_menu: function(){
                var now = new Date();
                axios.get('http://127.0.0.1:8000/api/menu/?jour='+ weekday[now.getDay()])
                    .then(response => {
    
                        this.loader=false
                        this.content=true
                        menu=response.data
                        menu.forEach(me =>{
                            if(me.jour == weekday[now.getDay()]){
                                this.menu = me
                            }
                        })
                        this.menu.plats.forEach(plat =>{
                            this.id_list.push(plat.id)
                        })
                        this.get_categorys()
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            get_categorys: function(){
                var now = new Date();
                axios.get('http://127.0.0.1:8000/api/categorie/')
                    .then(response => {
                        this.loader=false
                        this.content=true
                        this.categorys = response.data
                        this.actu_cat()
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            actu_cat: function(){
                this.categorys.forEach(category => {
                    for(var i=0; i<category.categorie_plat.length; i++){
                        if(!this.id_list.includes(category.categorie_plat[i].id)){
                            category.categorie_plat.splice(i, 1);
                        }
                    }
                });
            }
        }
    })
    </script>
    {% endblock vue %}