{% extends 'bases/base.html' %}

{% block main %}

    <section class="fdb-block" style="background-image: url(https://cdn.pixabay.com/photo/2017/07/31/11/44/laptop-2557572__480.jpg); height:100vh;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="fdb-box">
                    <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="row">
                        <div class="col text-center">
                        <h1>Register</h1>
                        <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. </p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col mt-4">
                        <input type="text" name= "name" class="form-control" placeholder="Full name...">
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                        <input type="email" name= "email" class="form-control" placeholder="Email">
                        </div>
                    </div>

                    <div class="row align-items-center mt-4">
                            <div class="col">
                                <label for="pour">Modules</label>
                            <select name="module" id="pour" class="form-control">
                                <option value=""></option>
                                <option value="">Python</option>
                                <option value="">Flutter</option>
                                <option value="">Font-end</option>
                            </select>
                            </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                        <input type="password" name="pass" class="form-control" placeholder="Password">
                        </div>
                        <div class="col">
                        <input type="password" name="re_pass" class="form-control" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="row justify-content-start mt-4">
                        <div class="col">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                I Read and Accept <a href="https://www.froala.com">Terms and Conditions</a>
                            </label>
                        </div>
            
                        <button class="btn btn-primary mt-4">Submit</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    {% endblock %}