{% extends 'bases/base.html' %}

{% block main %}
    <!-- Insert HTML for Design Blocks. -->
    <section class="fdb-block team-1">
        <div class="container">
          <div class="row text-center justify-content-center">
            <div class="col-8">
              <h1>Vos videos</h1>
              <p class="lead">Vous avez ici toutes les videos de votre cursus dans un module precis</p>
            </div>
          </div>
  
          <div class="row-50"></div>
  
            <div class="row">
              <div v-for='video in videos' class="col-sm-3 text-left">
                <div class="fdb-box p-0">
                  <a v-on:click="lancevideo(video.id)"><img alt="image" class="img-fluid rounded-0" v-bind:src="video.image"></a> 
  
                  <div class="content p-3">
                    <h3><a><strong>${ video.titre }</strong></a> </h3>
                    <p>${ video.description }</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block vue %}
<script>
var app = new Vue({
    el: '#app',
    data: {
        loader: true,
        content:false,
        active_module:false,
        cat:0,
        videos: [],
        user:null,
    },
    delimiters: ["${","}"],
    mounted(){
        this.get_cat()
    },
    methods: {
        lancevideo: function(v_id){
            if(this.active_module){
              window.location.href = "http://127.0.0.1:8000/video/"+v_id
            } else{
              window.location.href = "http://127.0.0.1:8000/"
            }
        },
        get_cat: function(){
            var currentUrl = window.location.pathname;
            this.cat= currentUrl.split('/')[2]
            this.get_videos()
        },
        get_videos: function(){
            axios.get('http://127.0.0.1:8000/Categorie/'+this.cat)
                .then(response => {
                    this.cat = response.data
                    this.videos = this.cat.video_categorie
                    this.get_module()
                })
                .catch((err) => {
                    console.log(err);
                })
        },
        get_module: function(){
            axios.get('http://127.0.0.1:8000/get_module/')
                .then(response => {
                    if(response.data.success==true){
                      this.active_module= response.data.module
                    }
                })
                .catch((err) => {
                    console.log(err);
                })
        },
    }
})
</script>
{% endblock vue %}