{% extends 'bases/base.html' %}

{% block main %}
    <!-- Insert HTML for Design Blocks. -->
    <section class="fdb-block team-1">
        <div class="container">
          <div class="row text-center justify-content-center">
            <div class="col-8">
              <h1>Vos videos</h1>
              <p class="lead">Vous avez ici toutes les videos de votre cursus dans un module precis</p>
            </div>
          </div>
  
          <div class="row-50"></div>
  
            <div class="row">
              <div class="col-sm-3 text-left">
                <div class="fdb-box p-0">
                  <!-- <a href=""><img alt="image" class="img-fluid rounded-0" src="https://cdn.pixabay.com/photo/2016/08/05/10/18/pc-1571963__480.jpg"></a>  -->
                  <a href=""><a href=""><img alt="image" class="img-fluid rounded-0" src="https://cdn.pixabay.com/photo/2016/08/05/10/18/pc-1571963__480.jpg"></a> </a> 
                  <div class="content p-3">
                    <h3><a href=""><strong>Sara Doe</strong></a> </h3>
                    <p>Founder</p>
                  </div>
                </div>
              </div>
  
              <div class="col-sm-3 text-left">
                <div class="fdb-box p-0">
                  <a href=""><img alt="image" class="img-fluid rounded-0" src="https://cdn.pixabay.com/photo/2016/08/05/10/18/pc-1571963__480.jpg"></a> 
  
                  <div class="content p-3">
                    <h3><a href=""><strong>Sara Doe</strong></a> </h3>
                    <p>Founder</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 text-left">
                <div class="fdb-box p-0">
                  <a href=""><img alt="image" class="img-fluid rounded-0" src="https://cdn.pixabay.com/photo/2016/08/05/10/18/pc-1571963__480.jpg"></a> 
  
                  <div class="content p-3">
                    <h3><a href=""><strong>Sara Doe</strong></a> </h3>
                    <p>Founder</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 text-left">
                <div class="fdb-box p-0">
                  <a href=""><img alt="image" class="img-fluid rounded-0" src="https://cdn.pixabay.com/photo/2016/08/05/10/18/pc-1571963__480.jpg"></a> 
  
                  <div class="content p-3">
                    <h3><a href=""><strong>Sara Doe</strong></a> </h3>
                    <p>Founder</p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="padding-top: 50px;">
              <div class="col-sm-3 text-left">
                <div class="fdb-box p-0">
                  <a href=""><img alt="image" class="img-fluid rounded-0" src="https://cdn.pixabay.com/photo/2016/08/05/10/18/pc-1571963__480.jpg"></a> 
                  <div class="content p-3">
                    <h3><a href=""><strong>Sara Doe</strong></a> </h3>
                    <p>Founder</p>
                  </div>
                </div>
              </div>
  
              <div class="col-sm-3 text-left">
                <div class="fdb-box p-0">
                  <a href=""><img alt="image" class="img-fluid rounded-0" src="https://cdn.pixabay.com/photo/2016/08/05/10/18/pc-1571963__480.jpg"></a> 
  
                  <div class="content p-3">
                    <h3><a href=""><strong>Sara Doe</strong></a> </h3>
                    <p>Founder</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 text-left">
                <div class="fdb-box p-0">
                  <a href=""><img alt="image" class="img-fluid rounded-0" src="https://cdn.pixabay.com/photo/2016/08/05/10/18/pc-1571963__480.jpg"></a> 
  
                  <div class="content p-3">
                    <h3><a href=""><strong>Sara Doe</strong></a> </h3>
                    <p>Founder</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 text-left">
                <div class="fdb-box p-0">
                  <a href=""><img alt="image" class="img-fluid rounded-0" src="https://cdn.pixabay.com/photo/2016/08/05/10/18/pc-1571963__480.jpg"></a> 
  
                  <div class="content p-3">
                    <h3><a href=""><strong>Sara Doe</strong></a> </h3>
                    <p>Founder</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
{% endblock %}

