{% extends 'bases/base.html' %}

{% block main %}

        <section class="fdb-block">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-8 m-auto ml-lg-auto mr-lg-0 col-lg-6 pt-5 pt-lg-0">
                                <video  id="example_video_youtube"
                                class="video-js vjs-default-skin vjs-big-play-centered" 
                                controls 
                                preload="auto" 
                                width="500" 
                                height="400" 
                                data-setup='{
                                    "techOrder": ["youtube"],
                                    "src": "https://www.youtube.com/watch?v=Bb5VfiFy0kY" 
                                }'>
                            </video>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 col-xl-5">
                                <h1>Titre de la vidéo</h1>
                                <p class="lead">Duration: 19 minutes</p>
                                <p>Taille: 50Mo </p>
                                <div class="btn btn-secondary"><i class="fa fa-download" aria-hidden="true"></i>Download</div>
                            </div>
                    </div>
                </div>
            </section>

{% endblock %}